Project_Server_TaliscocaA/xml-resources/web-service-references/project_webservice/wsdl/localhost_8080/Project_WebService/project_webservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.project_webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.project_webservice.com/" name="project_webservice">
<types>
<xsd:schema>
<xsd:import namespace="http://services.project_webservice.com/" schemaLocation="http://localhost:8080/Project_WebService/project_webservice?xsd=1"/>
</xsd:schema>
</types>
<message name="viewListDataParking">
<part name="parameters" element="tns:viewListDataParking"/>
</message>
<message name="viewListDataParkingResponse">
<part name="parameters" element="tns:viewListDataParkingResponse"/>
</message>
<message name="insertDataReservasiAcara">
<part name="parameters" element="tns:insertDataReservasiAcara"/>
</message>
<message name="insertDataReservasiAcaraResponse">
<part name="parameters" element="tns:insertDataReservasiAcaraResponse"/>
</message>
<message name="viewListDataReservasiAcara">
<part name="parameters" element="tns:viewListDataReservasiAcara"/>
</message>
<message name="viewListDataReservasiAcaraResponse">
<part name="parameters" element="tns:viewListDataReservasiAcaraResponse"/>
</message>
<message name="viewListDataAcara">
<part name="parameters" element="tns:viewListDataAcara"/>
</message>
<message name="viewListDataAcaraResponse">
<part name="parameters" element="tns:viewListDataAcaraResponse"/>
</message>
<message name="updateDataAcara">
<part name="parameters" element="tns:updateDataAcara"/>
</message>
<message name="updateDataAcaraResponse">
<part name="parameters" element="tns:updateDataAcaraResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="checkEmail">
<part name="parameters" element="tns:checkEmail"/>
</message>
<message name="checkEmailResponse">
<part name="parameters" element="tns:checkEmailResponse"/>
</message>
<message name="updateDataReservasiAcara">
<part name="parameters" element="tns:updateDataReservasiAcara"/>
</message>
<message name="updateDataReservasiAcaraResponse">
<part name="parameters" element="tns:updateDataReservasiAcaraResponse"/>
</message>
<message name="updateDataParking">
<part name="parameters" element="tns:updateDataParking"/>
</message>
<message name="updateDataParkingResponse">
<part name="parameters" element="tns:updateDataParkingResponse"/>
</message>
<portType name="project_webservice">
<operation name="viewListDataParking">
<input wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataParkingRequest" message="tns:viewListDataParking"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataParkingResponse" message="tns:viewListDataParkingResponse"/>
</operation>
<operation name="insertDataReservasiAcara">
<input wsam:Action="http://services.project_webservice.com/project_webservice/insertDataReservasiAcaraRequest" message="tns:insertDataReservasiAcara"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/insertDataReservasiAcaraResponse" message="tns:insertDataReservasiAcaraResponse"/>
</operation>
<operation name="viewListDataReservasiAcara">
<input wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataReservasiAcaraRequest" message="tns:viewListDataReservasiAcara"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataReservasiAcaraResponse" message="tns:viewListDataReservasiAcaraResponse"/>
</operation>
<operation name="viewListDataAcara">
<input wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataAcaraRequest" message="tns:viewListDataAcara"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/viewListDataAcaraResponse" message="tns:viewListDataAcaraResponse"/>
</operation>
<operation name="updateDataAcara">
<input wsam:Action="http://services.project_webservice.com/project_webservice/updateDataAcaraRequest" message="tns:updateDataAcara"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/updateDataAcaraResponse" message="tns:updateDataAcaraResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://services.project_webservice.com/project_webservice/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="checkEmail">
<input wsam:Action="http://services.project_webservice.com/project_webservice/checkEmailRequest" message="tns:checkEmail"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/checkEmailResponse" message="tns:checkEmailResponse"/>
</operation>
<operation name="updateDataReservasiAcara">
<input wsam:Action="http://services.project_webservice.com/project_webservice/updateDataReservasiAcaraRequest" message="tns:updateDataReservasiAcara"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/updateDataReservasiAcaraResponse" message="tns:updateDataReservasiAcaraResponse"/>
</operation>
<operation name="updateDataParking">
<input wsam:Action="http://services.project_webservice.com/project_webservice/updateDataParkingRequest" message="tns:updateDataParking"/>
<output wsam:Action="http://services.project_webservice.com/project_webservice/updateDataParkingResponse" message="tns:updateDataParkingResponse"/>
</operation>
</portType>
<binding name="project_webservicePortBinding" type="tns:project_webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewListDataParking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataReservasiAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListDataReservasiAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListDataAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDataAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDataReservasiAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDataParking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="project_webservice">
<port name="project_webservicePort" binding="tns:project_webservicePortBinding">
<soap:address location="http://localhost:8080/Project_WebService/project_webservice"/>
</port>
</service>
</definitions>